/* 
*******************************************************
html
*******************************************************
*/

body {
    background-color: gray;
    margin:0;
}

div {
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 10px;
}

header h1{
    background-color: white;
    margin:0;
}



/* 
*******************************************************
post
*******************************************************
*/

div.post {
    background-color: white;
    margin-top: 10px;
}


div.post .post-header div:first-child {
    display: inline-block;
    width:80%;
    background-color: transparent;
}

div.post .post-header div:last-child {
    display: inline-block;
    width:20%;
    background-color: transparent;
    text-align: right;
    padding:10px;
    color: gray;
}

div.post img{
    width: 100%;
}

div.post h2, div.post p{
    padding: 5px;
    margin: 0px;
   
}

/* 
*******************************************************
container
*******************************************************
*/

div.container {
    width: 600px;
    margin: auto;
}

/* 
*******************************************************
xxx
*******************************************************
*/



